[build-system]
requires = ["flit_core >=2,<4"]
build-backend = "flit_core.buildapi"

[tool.flit.metadata]
module = "wn"
author = "Michael Wayne Goodman"
author-email = "goodman.m.w@gmail.com"
home-page = "https://github.com/goodmami/wn"
requires = [
    "requests~=2.25",
    "toml~=0.10",
    "importlib_resources; python_version < '3.7'"
]
requires-python = ">=3.6"
description-file = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Intended Audience :: Information Technology",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Text Processing :: Linguistic",
]

[tool.flit.metadata.urls]
Documentation = "https://wn.readthedocs.io"

[tool.flit.metadata.requires-extra]
web = [
    "starlette",
]
test = [
    "pytest",
    "mypy",
    "flake8",
    "nox",
    # typing stubs
    'types-requests',
    'types-toml',
]
doc = [
    "sphinx>=3.5,<4",
    "furo",
    "sphinx-copybutton",
]
