name: tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: 3.8
    - name: Install dependencies
      run: python3.8 -m pip install nox
    - name: Lint
      run: nox -s lint

  tests:
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
            python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
            os: [ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: python -m pip install nox
    - name: Test
      run: nox -s test

  check-buildable:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        python3.8 -m pip install "flit~=3.4"
    - name: Ensure it builds
      run: |
        flit build
