name: Upload to PyPI

on:
  release:
    types: [created]

jobs:
  precheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"
    - name: Install Hatch
      run: pipx install hatch
    - name: Lint
      run: hatch fmt --linter --check
    - name: Type Check
      run: hatch run mypy:check
    - name: Unit tests
      run: hatch test

  deploy:
    runs-on: ubuntu-latest
    needs: [precheck]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"
    - name: Install Hatch
      run: pipx install hatch
    - name: Build and publish
      env:
        HATCH_INDEX_USER: __token__
        HATCH_INDEX_AUTH: ${{ secrets.PYPI_PASSWORD }}
      run: |
        hatch build
        hatch publish
